*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Verdana, sans-serif;
    
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}

html::-webkit-scrollbar{
    width: 10px;
}

/* NAV BAR START */

#navbar{
}

.nav-item .nav-link{
    color: rgb(238, 238, 238);
    font-size: 16px;
    font-weight: 550;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    color: rgb(185, 185, 185);
}

.nav-orange{
    color: orange;

}

.nav-orange-text{
    padding-left: 5px;
    margin-bottom: 20px;
    text-align: center;
    height: auto;
    vertical-align: middle;
}
.nav-orange-text:hover{
 color: rgb(223, 146, 3);

}

.material-symbols-outlined, .nav-item{
    vertical-align: middle;
}

.navbar, .navbar-brand, .nav-link{

    vertical-align: middle;

}

/* NAV BAR END */

/* HOME CONTENT START */

div.home-content{
    background-image: url("images/design/home/3tshirts_001.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin-top: -30px;
    width: 100vw;
    height: 670px;
}

.bg-image{
    background-image: url("/static/images/background/bw_tshirts_bg.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.home{
    width: 100%;
    height: 100%;
    color: aliceblue;
    text-align: center;

}

#background-picture {
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: -60px;
    bottom:60px;
    z-index: -1;
  }

.main-title{
    font-size: 8em;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 70px;

}
.main-title-2{
    font-size: 2.5em;
    margin-top: 70px;

}


.bt-shop-now{
    text-align: center;
    background-color: aliceblue;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 200px;
    margin: 0 auto;
    margin-top: 60px;
    color: black;
    font-size: 1.3em;
    border-radius: 10px;
    text-decoration: none;
}
.bt-shop-now:hover{
    background-color: rgb(31, 31, 31);
    color: aliceblue;
}

a{
    text-decoration: none;
    color: inherit;
}


/* HOME COLLECTION */


.women-collection{
    background-color: lightgray; /* Optionnel : Ajoutez une couleur de fond pour visualiser l'espace réservé */
}





.custom-row-height{
    height: 40vw;
}

.title-collection{
    font-size: 2.5em;
    margin-right: 10px;
    margin-left: 10px;
}

.collection{
    background-size: cover;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.men-collection{
    background: url("/static/images/design/home/men_collection-min.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    height: 100%;
    width: 100%;
}


.collection div:hover{
    transform: scale(1.1); /* Zoom de 10% (110%) sur la div */
      
    transition: 0.5s;
  }
  
.women-collection{
    background-image: url("/static/images/design/home/women_collection-min.jpg"); /* Spécifiez le chemin de votre image de fond */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    height: 100%;
    width: 100%;
}

/* HOME CONTENT END */
