{% extends "layout.html" %}
{% block content %}

 <!-- HOME SECTION  -->
 <section class="home" id="home">
    <div class="home-content">
        <h1 class="main-title">OKKGG</h1>
        <div class="img big-moustache-home">
            <img  src="{{ url_for('static', filename='images/design/home/big_moustache.png') }}" alt="Big moustache"  height="35%" width="35%">
        </div>
        <h2 class="main-title-2">OFFICIAL ONLINE SHOP</h2> 
            <div class="bt-shop-now">
                <a href="{{url_for('men')}}">SHOP NOW</a>
            </div>  
    </div>

  <!--  START MEN & WOMEN COLLECTION SECTION -->
    <div class="container-fluid text-center">
        <div class="row custom-row-height">
            <div class="col collection d-flex align-items-center justify-content-center">
                <a class="men-collection  d-flex align-items-center justify-content-center" href="{{url_for('men')}}">
                    <h2 class="title-collection">MEN COLLECTION</h2>
                </a>
            </div>

            <div class="col collection d-flex align-items-center justify-content-center">
                <a class="women-collection d-flex align-items-center justify-content-center"  href="{{url_for('men')}}">
                <!-- <img src="{{ url_for('static', filename='images/design/home/women_collection.jpg') }}" alt="Women collection picture"> -->
                <h2 class="title-collection">WOMEN COLLECTION</h2>
                </a>
            </div>
        </div>
    </div>


  <!-- END MEN & WOMEN COLLECTION SECTION -->

  <!-- START LOOKBOOK SECTION -->

  <div class="container-fluid text-center">
    <div class="row row-lookbook">
        <div class="col col-lookbook empty">

        </div>
        <div class="col col-lookbook lookbook-text">
            <h2 class="title-lookbook">LOOKBOOK</h2>
            <p>Le lookbook OKKGG Printemps-été se feuillette en ligne et 
                nous donne les plus belles influences mode de la saison ! 
                Quelles sont les tendances à retenir ? Comment se composer 
                n look cool chic, joliment twisté d’accessoires trendy ? 
                Ouvrez le lookbook et trouvez de bonnes idées look de l’été 2021. 
                Cette saison, la collection  CHIC & MOUSTACHE voyage d’un style 
                à l’autre avec la même envie : décontracter le chic avec un pointe 
                de cool et inversement ! Les influences bohèmes flirtent avec 
                les années hippies. Une série de coloris pastel adoucit l’atmosphère 
                des villes. Comme toujours chez OKKGG, chaque détail compte pour 
                se composer un style tendance Printemps-été.
            </p>
            <p>
                Inspirez-vous, copiez les looks, changez de dressing à l’envi et 
                feuilletez le lookbook OKKGG à volonté !
            </p>
            
                
        </div>
    </div>
  </div>



    <!-- END LOOKBOOK SECTION -->
 </section>

 <!-- END HOME SECTION -->



{% endblock content %}
