{% extends "layout.html" %}
{% block content %}


<div class="wrapper">
    <div class="title-collection"><h2>Men collection</h2></div>
    <div class="sort-by"><h3>Sort by</h3>
        <p>Price</p>
        <p>Color</p>
        <p>Size</p>
        <p>Category</p>
    </div>
    <div class="product-view">
        <div class="products-container" style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 40px;">
            {% for i in range(nbProducts) %}
            <div class="product">
                <div class="product_icon">
                    <img  src="{{ url_for('static', filename=products[i]["path_img"]+'1.jpg') }}" alt="{{PRODUCT_NAME}}"  height="350px" width="350px" class="image-1"> 
                    <div class="crop-img image-2">
                        <img  src="{{ url_for('static', filename=products[i]["path_img"]+"2.jpg") }}" alt="{{PRODUCT_NAME}}"  height="auto" width="350px"> 
                    </div>
                    <figcaption>Quick overview</figcaption>
                </div>
                <p>{{products[i]["model_name"]}}</p>
                <p class="add-to-cart">Add to cart</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>




  


{% endblock content %}



