<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_test.css') }}">

  <title>Document</title>
</head>
<body>
    <div class="SHOPPING">
      <p> panier</p>
      <div class="container">
        <div class="div1"><i class="fa-solid fa-bag-shopping fa-2xl"></i></div>
        <div class="div2">9</div>
      </div>
      
    </div>

 


  <script src="https://kit.fontawesome.com/0c3e7b6922.js" crossorigin="anonymous"></script>

</body>
</html>